APP_ID="INSERT_APPID"
DEV_PORTAL_API_KEY="APIKEY"
WLD_CLIENT_ID=
WLD_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000

# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=
XATA_API_KEY=
# Database URL to avoid hardcoding it in the code
XATA_DATABASE_URL=
